/* ===== ROOT ===== */
.menu-root {
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "up-objective"
        "up-expedition"
        "up-expansion"
        "up-permanents";
}

/* ===== ÁREA 1 ===== */
.objetive {
    grid-area: up-objective;
    padding: 14px;
    display: grid;
    gap: 10px;
}

.permanents {
    grid-area: up-permanents;
}

.expansion {
    grid-area: up-expansion;
}

.expedition {
    grid-area: up-expedition;
}