/* ===== ROOT ===== */
.menu-root {
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-areas:
        "expedition-toggle"
        "expansion-party"
        "expedition-status"
        "expedition-gain";
}

.expedition-toggle {
    grid-area: expedition-toggle;
    padding: 14px;
    display: grid;
    gap: 10px;
}

.expedition-party {
    grid-area: expedition-party;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2px;
    justify-items: center;
}

    .image-grid .character-button {
    }

        .image-grid .character-button.selected {
            background: rgb(84, 207, 31, 0,20);
        }

            .image-grid .character-button.selected:hover {
            }

.expedition-status {
    grid-area: expedition-status;
}

.expedition-gain {
    grid-area: expedition-gain;
}


