/* pode ir no final do seu app.css */
:root {
    --thumb: 64px;
}
/* ajuste o tamanho esperado */

.char-thumb {
    width: var(--thumb);
    height: var(--thumb);
    display: grid;
    place-items: center;
}

    .char-thumb > img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* se quiser preencher */
    }
