
/* Grid Geral em Duas Linhas */
:root {
    --top-min: 50px; /* nunca menor que isso (clicável) */
    --top-ideal: 12dvh; /* alvo ~20–25% da altura da tela */
    --top-max: 72px; /* não passa disso em telas altas */

    --gap: 12px;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.layout {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 160px 1fr;
    gap: var(--gap);
    padding: var(--gap);
}

/* só pra visualização */
.band {
    border: 2px dashed #888;
    border-radius: 12px;
    padding: 1px;
}

/* FAIXA SUPERIOR */
:root {
    --topcell-min: 180px; /* ajuste aqui o mínimo */
}

.band-top {
    align-items: center;
    justify-content: center;
    min-height: 0;
}

.top-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
    height: 100%;
}

.top-column {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6aa0ff;
    border-radius: 10px;
    padding: 4px 6px;
}

.top-column.span2{
    grid-column: span 2;
}

.top-column.span3{
    grid-column: span 3;
}

/* FAIXA CENTRAL */

.band-mid {
    height: 100%;
    overflow: auto;
}

.mid-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    height: 100%;
    width: 100%;
    align-items: stretch;
}

.mid-column {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6aa0ff;
    border-radius: 10px;
    padding: 4px 6px;
    min-width: 0;
    min-height: 0;
}

.mid-column.span2{
    grid-column: span 2;
}

    .mid-column.resources {
        display: grid;
        grid-template-rows: 160px 1fr;
        gap: 8px;
        padding: 0;
        border: none;
        align-items: stretch;
        justify-items: stretch;
        min-width: 0;
        min-height: 0;
    }

        .mid-column.resources > .resources-top,
        .mid-column.resources > .resources-bot {
            height: 100%; 
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #6aa0ff;
            border-radius: 10px;
            padding: 6px 8px;
            box-sizing: border-box;
        }
